<!--Created by Harnoor kaur #301175311 -->
<!-- About me page-->



<body style="background-color:lavender">
    <div style="text-align: center">
      <main>
        <style>
          main {
            background-color: lavender;
            color:grey;
            width: 970;
            right: auto;
            left: auto;
            width: 970px;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 7px;
            border-color: purple;
            padding: 12px;
          }
          h1 {
            text-align: center;
            color: black;
            font-size: 50px;
          }
          h2 {
            text-align: center;
            color: rgb(5, 128, 150);
            font-size: 35px;
          }
          table {
            font-size: 30px;
            color: rgb(5, 128, 150);
          }
        </style>
        <main>
<div class="containor">
   <h1>HARNOOR KAUR #301175311</h1>

       <div>
             <img src="\Assets\images\noor.jpeg" alt="my picture" style="float:right;"height="200" width="200">
             <p class="display-5"><p id="about_me_text">>Hi! my name is Harnoor kaur . Born and raised in india.I'm a student of the <i>Software engineering technician</i> program at <b> Centennial college.</b>I recently shifted in canada which was a great struggle for me. Everything changed. But at last I have now become independent and more confident.</p>
             <p>One of my favorite quote is:</p>
             <blockquote>
             <i>All problems are stuck between "MIND & MATTER". If you don't "Mind", it doesn'Matter".</i>
             <br><b><i>Abdul Kalam </i></b>
            </blockquote>
             
              <p> My leisure time activities are:</p>
              <ol>
                <li>Singing</li>
                <li>Sleep</li>
                <li>Watch series</li>
                <li>Chat with freinds</li>
                <li> Excersice</li>

              </ol>
              <img scr="/asserts/images/harnoor resume.pdf" alt="my resume">
          </div>
          </div>
          <footer>
                <% include ../partials/footer %>
                </footer>
          </main>
          </html>
