
<!DOCTYPE html>
<!html lang="en">
<link href="/contents/contacts.css" rel="stylesheet" />
<head>
      <% title="Contacts"; %>
      </head>
      <body class="container">

      

      <main>
          <div class="high">
            
            </div>

            <div class="content">
                <div class="center_content">
                <form action="mailto:harnoor7869@gmail.com" class="form" method="post" novalidate="novalidate">
                <div class="form_group">
                <label class="form__label" for="first_name">First Name</label><br>
                <input class="form__input" id="first_name" type="text" name="first_name">
                </div>
                <div class="form__group">
                <label class="form__label" for="last_name">Last Name</label><br>
                <input class="form__input" id="last_name" type="text" name="last_name">

                </div>
                <div class="form__group">
                <label class="form__label" for="email">E-mail</label><br>
                <input class="form__input" id="email" type="text" name="email">

                </div>
                <div class="form__group">
                <label class="form__label" for="contact_number">Contact number</label><br>
                <input class="form__input" id="contact_number" type="text" name="contact_number">

                </div>
                <div class="form__group">
                <label class="form__label" for="message">Message</label><br>
                <textarea class="form__input" name="message" id="message"cols="30" rows="10"></textarea>
                </div>
                <input type="submit" class="form__submit" value="send" name="submit">
                </form>
                </div>
                </div>
                </main>
                <footer>
                <% include ../partials/footer %>
                </footer>
                </body>
                </html>
                


