

<!DOCTYPE html>
<html style="background-color: rgb(190, 118, 118);">
    <link href="/contents/projects.css" rel="stylesheet" />
<head>
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <% title=" My Projects "; %>
      </head>
      <body class="container">

      
    <meta charset="utf-8" />
    
<h1 style="color: rgb(25, 24, 26); text-align: center;">MY PROJECTS</h1>

</head>
<body>
    
    <div class="parent">
        <div class="img">
            <img src="/assets/images/bmr calculator.png" alt="" width="700" height="500" />
        </div>
        <div class ="text">
            My this project calculates both imperial and metric BMR of human body by taking inputs from user such as gender ,age , weight( stones and pounds) height (feet and inches) and the level of activity to calculate BMR. my code uses HTML, CSS and JS.
        </div>
    </div>
    <div class="parent">
        <div class="img2">
            <img src="/assets/images/movies gallery.png" alt="" width="700" height="500"/>
        </div>
        <div class="text">
           Movies gallery is a way to story all your favourite movies in a gallery format . it also has buttons to go next previous and even update the list . perfect way to compile all your favourite movies. I used bootstrap in ths along with HTML , CSS , JS and JQuery.
        </div>
    </div>
    
    <div class="parent">
        <div class="img">
            <img src="/assets/images/game tom jerry.png" width="700" height="500" />
         </div>
         <div class="text">
           Fun way to pass your time is playing game. this tom and jerry game is perfect to spend some time fresh yourself from  hectic schedule . It also has buttons to reset score and speed . it comes with a guide to play the game. This was a project made with HTML , CSS and JS . 
        </div>
    </div>
         
      </div>
    </div>  
    <footer>
                <%include ../partials/footer %>
                </footer>
</body>
</html>