
<%- include ../partials/footer.ejs %>

<html>
<head>
<% title="Services"; %>
      </head>
      <body class="container">

      <header>
      <% include ../partials/header %>
      </header>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="contents/services.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<section class="services">
	<div class="s-heading">
	<h1>Ser<font color="#4a90e2">vic</font>es</h1>
	<p>Learning is a continuous process , here are few things I learnt </p>
	</div>
	
	<div class="s-box-container">
	<div class="s-box">
	<div class="bar"></div>
	<img alt="1" src="/assets/images/1.png" />
	
	<h1>Competitive Coding</h1>
	
		<p>I am well versed with c# , cpp and JAVA. Doing competitive coding and solving real life problems is my daily task. </p>
	</div>
	
	<div class="s-box">
	<div class="bar"></div>
	<img alt="2" src="/assets/images/2.png" >
	<h1>Web Development</h1>
		<p>I design websites as per the needs of the user. My to go languages are HTML , CSS ,JS on the frontEnd and  ExpressJS, NodeJS on the BackEnd. </p>
	</div>
	<div class="s-box">
	<div class="bar"></div>
	<img alt="3" src="/assets/images/3.png"/>
	<h1>Database Management</h1>
		<p>Managing and creating  databases </p>
	</div>
	</div>
	</section>
    <footer>
                <% include ../partials/footer %>
                </footer>
</body>
</html>