<!-- harnoor kaur #301175311
date- 3rd october2021-->

<!DOCTYPE html>
<html lang="en">
<head>
<% title="Home"; %>
</head>
<body style="background-color:lavender">
    <div style="text-align: center">
      <main>
        <style>
          main {
            background-color: lavender;
            color:grey;
            width: 970;
            right: auto;
            left: auto;
            width: 970px;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 7px;
            border-color: purple;
            padding: 12px;
          }
          h1 {
            text-align: center;
            color: black;
            font-size: 50px;
          }
          h2 {
            text-align: center;
            color: rgb(5, 128, 150);
            font-size: 35px;
          }
          table {
            font-size: 30px;
            color: rgb(5, 128, 150);
          }
        </style>


<header>
<% include ../partials/header %>
</header>

<main>
      <div class="high">
      <h1 class="high_title">Harnoor kaur</h1>
      <p class="high_subtitle"> Software engineering technician program, CENTENNIAL COLLEGE </p>
      </div>
      
     
      <p style="font-size:25px;">Hello!......I'm harnoor kaur and this is my portfolio website.</p>
      </main>
      <footer>
      <%include ../partials/footer%>
      </footer>
      </body>
      </html>
            
